@using System.Threading.Tasks

@model opr.Models.Employee
@*@inject EmployeeController option*@
@{
    ViewBag.Title = "Create";

}

<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
</head>
<body>
    @*<div>
        <h1>Update</h1>
        Name: @Html.TextBoxFor(m => m.p)
        <br />
        Gender: @Html.DropDownList("Gender",option
           .ListGenders().Select(g =>
                 new SelectListItem() { Text = g, Value = g }))
        
    </div>*@
</body>
</html>

